

#formNameUser-error{
    background-color: transparent;
    display: flex;
    position: absolute; 
    justify-content: flex-start;  
    width: 264px;
    height: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color:red;
    top:185px;
   
}



#formJobUser-error{
background-color: transparent;
display: flex;
position: absolute; 
justify-content: flex-start;  
width: 264px;
height: 11px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color:red;
top:255px;
}
